@import "@kirin/ui/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark .invert,
  :root {
    /* Primary */
    --background: 0, 0%, 100%;
    --background-100: 0, 0%, 98%;
    --foreground: 0, 0%, 0%;

    /* Accents */
    --accent-1: 0, 0%, 98%;
    --accent-2: 0, 0%, 91.8%;
    --accent-3: 0, 0%, 60%;
    --accent-4: 0, 0%, 53.3%;
    --accent-5: 0, 0%, 40%;
    --accent-6: 0, 0%, 26.7%;
    --accent-7: 0, 0%, 20%;
    --accent-8: 0, 0%, 6.7%;

    /* Error */
    --error: 0, 100%, 46.7%;
    --error-light: 0, 100%, 55.1%;
    --error-lighter: 356.6, 68.6%, 90%;
    --error-dark: 0, 100%, 38.6%;

    /* Success */
    --success: 212.3, 100%, 47.6%;
    --success-light: 212.2, 100%, 59.8%;
    --success-lighter: 215.5, 100%, 91.4%;
    --success-dark: 213.3, 93.5%, 42.4%;

    /* Warning */
    --warning: 37.4, 91.3%, 54.9%;
    --warning-light: 37, 91%, 65.1%;
    --warning-lighter: 40, 100%, 90.6%;
    --warning-dark: 28.7, 89%, 35.5%;

    /* Violet */
    --violet: 270, 66.9%, 47.5%;
    --violet-light: 261.1, 55.2%, 60.6%;
    --violet-lighter: 259.5, 56.9%, 87.3%;
    --violet-dark: 262.3, 54.8%, 34.7%;

    /* Cyan */
    --cyan: 166.5, 72.4%, 60.2%;
    --cyan-light: 166.6, 100%, 73.7%;
    --cyan-lighter: 166.6, 100%, 83.3%;
    --cyan-dark: 166.5, 64.2%, 44.9%;

    /* Highlight */
    --highlight-purple: 305.2, 94%, 54.1%;
    --highlight-magenta: 335.8, 81.9%, 56.7%;
    --highlight-pink: 329.9, 100%, 50%;
    --highlight-yellow: 57.6, 100%, 50%;

    /* Misc */
    --font-size: 16px;

    /* Space */
    --space: 4px;
    --space-2x: 8px;
    --space-3x: 12px;
    --space-4x: 16px;
    --space-6x: 24px;
    --space-8x: 32px;
    --space-10x: 40px;
    --space-12x: 48px;
    --space-16x: 64px;
    --space-24x: 96px;
    --space-32x: 128px;
    --space-48x: 192px;
    --space-64x: 256px;

    /* Space Abstract */
    --space-small: var(--space-8x);
    --space-medium: var(--space-10x);
    --space-large: var(--space-12x);

    /* Gap */
    --gap: var(--space-6x);
    --gap-half: var(--space-3x);
    --gap-double: var(--space-large);
    --gap-section: var(--space-small);

    /* Page */
    --page-margin: var(--space-6x);
    --page-width: 1200px;
    --page-width-with-margin: calc(
      var(--page-width) + calc(var(--page-margin) * 2)
    );

    /* Radius */
    --radius: 5px;

    /* Focus */
    --focus-color: 210.2, 100%, 66.1%;
    --focus-ring: 0 0 0 2px hsl(var(--background-100)),
      0 0 0 4px hsl(var(--focus-color));

    /* Selection */
    --selection: var(--cyan-light);
    --selection-text: var(--foreground);

    /* Shadow */
    --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12);
    --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
    --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);

    /* Shadow Abstract */
    --shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
    --shadow-small: 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
    --shadow-border-small: var(--shadow-border), var(--shadow-small);
    --shadow-medium: 0px 2px 2px rgba(0, 0, 0, 0.04),
      0px 8px 8px -8px rgba(0, 0, 0, 0.04);
    --shadow-border-medium: var(--shadow-border), var(--shadow-medium);
    --shadow-large: 0px 2px 2px rgba(0, 0, 0, 0.04),
      0px 8px 16px -4px rgba(0, 0, 0, 0.04);
    --shadow-border-large: var(--shadow-border), var(--shadow-large);
    --shadow-tooltip: var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
      0px 4px 8px rgba(0, 0, 0, 0.04);
    --shadow-modal: var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
      0px 8px 16px -4px rgba(0, 0, 0, 0.04),
      0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --shadow-fullscreen: var(--shadow-border) 0px 1px 1px rgba(0, 0, 0, 0.02),
      0px 8px 16px -4px rgba(0, 0, 0, 0.04),
      0px 24px 32px -8px rgba(0, 0, 0, 0.06);

    /* Header */
    --header-height: 64px;
    --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    --header-background: hsla(0, 0%, 100%, 0.8);
  }

  .dark {
    /* Primary */
    --background: 0, 0%, 0%;
    --background-100: 0, 0%, 4%;
    --foreground: 0, 0%, 100%;

    /* Accents */
    --accent-1: 0, 0%, 6.7%;
    --accent-2: 0, 0%, 20%;
    --accent-3: 0, 0%, 26.7%;
    --accent-4: 0, 0%, 40%;
    --accent-5: 0, 0%, 53.3%;
    --accent-6: 0, 0%, 60%;
    --accent-7: 0, 0%, 91.8%;
    --accent-8: 0, 0%, 98%;

    /* Error */
    --error: 0, 100%, 50%;
    --error-light: 0, 100%, 60%;
    --error-lighter: 356.6, 68.6%, 90%;
    --error-dark: 0, 100%, 45.1%;

    /* Success */
    --success: 212.3, 100%, 47.6%;
    --success-light: 212.2, 100%, 59.8%;
    --success-lighter: 215.5, 100%, 91.4%;
    --success-dark: 213.3, 93.5%, 42.4%;

    /* Warning */
    --warning: 37.4, 91.3%, 54.9%;
    --warning-light: 37, 91%, 65.1%;
    --warning-lighter: 40, 100%, 90.6%;
    --warning-dark: 28.7, 89%, 35.5%;

    /* Violet */
    --violet: 270, 66.9%, 47.5%;
    --violet-light: 261.1, 55.2%, 60.6%;
    --violet-lighter: 259.5, 56.9%, 87.3%;
    --violet-dark: 262.3, 54.8%, 34.7%;

    /* Cyan */
    --cyan: 262.3, 54.8%, 34.7%;
    --cyan-light: 166.6, 100%, 73.7%;
    --cyan-lighter: 166.6, 100%, 83.3%;
    --cyan-dark: 166.5, 64.2%, 44.9%;

    /* Highlight */
    --highlight-purple: 305.2, 94%, 54.1%;
    --highlight-magenta: 335.8, 81.9%, 56.7%;
    --highlight-pink: 329.9, 100%, 50%;
    --highlight-yellow: 57.6, 100%, 50%;

    /* Selection */
    --selection: hsl(var(--highlight-purple));

    /* Shadow */
    --shadow-smallest: 0 0 0 1px hsl(var(--accent-2));
    --shadow-extra-small: 0 0 0 1px hsl(var(--accent-2));
    --shadow-small: 0 0 0 1px hsl(var(--accent-2));
    --shadow-medium: 0 0 0 1px hsl(var(--accent-2));
    --shadow-large: 0 0 0 1px hsl(var(--accent-2));
    --shadow-hover: 0 0 0 1px hsl(var(--foreground));
    --shadow-sticky: 0 0 0 1px hsl(var(--accent-2));

    /* Shadow Abstract */
    --shadow-border: 0 0 0 1px hsla(0, 0%, 100%, 0.145);
    --shadow-small: 0px 1px 2px hsla(0, 0%, 0%, 0.16);
    --shadow-medium: 0px 2px 2px hsla(0, 0%, 0%, 0.32),
      0px 8px 8px -8px hsla(0, 0%, 0%, 0.16);

    /* Header */
    --header-border-bottom: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
    --header-background: hsla(0, 0%, 0%, 0.5);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
